# System
__pycache__/
*.py[cod]
*$py.class
  *.log
.vscode/
.idea/
.env
.venv/
*.pem
*.csv
# App Data (Ephemeral/Cache)
calibration_data/
backtest_data/
data_cache/

# Logs
trend_bot.log
backtest_results/
fortress_bot/

# Temp
porqueria.txt
stats.json